<div class="task-wrapper">
    <div class="task-header">
        <div *ngIf="isExpired(task?.plannedFinishDate)" class="indicator"></div>
        <s *ngIf="task?.completed">{{ task?.nameTask }}</s>
        <p *ngIf="!task?.completed">{{ task?.nameTask }}</p>
    </div>
    <div class="task-date-container">
        <p>Планируемая дата завершения: {{ task?.plannedFinishDate }}</p>
    </div>
    <button class="removeTaskBtn">
        <img src="../../../assets/img/delete.svg" alt="delete_task">
    </button>
</div>