<div class="task-wrapper">
    <div class="task-header">
        <div *ngIf="isIndicate(task?.plannedFinishDate)" class="indicator" title="Задача просрочена"></div>
        <s *ngIf="task?.completed">{{ task?.nameTask }}</s>
        <p *ngIf="!task?.completed">{{ task?.nameTask }}</p>
    </div>
    <div class="task-date-container">
        <p>Планируемая дата завершения: {{ task?.plannedFinishDate }}</p>
    </div>
    <button *ngIf="task?.completed" class="removeTaskBtn" (click)="handleDeleteTask(task?.id)" title="Удалить задачу">
        <img src="../../../assets/img/delete.svg" alt="delete_task">
    </button>

    <button *ngIf="!task?.completed" class="removeTaskBtn" (click)="handleCompleteTask()" title="Пометить задачу как выполненную">
        <img src="../../../assets/img/complete.svg" alt="complete_task">
    </button>
</div>