<div>
    <div id="header">
        <h1>Проекты</h1>
        <div>
            <input type="search" id="project-filter" #box (keyup.enter)="handleFilterByEnter(box.value)">
            <button title="Найти проект по названию или описанию">Поиск</button>
        </div>
        <button title="Добавить новый проект" id="addNewProjectAction" [routerLink]="['/projects/new']">
            <img src="../../../assets/img/add.svg">
        </button>
    </div>
    <hr>
        <div id="container-for-projects" class="row">
            <li *ngFor="let project of projects;" class="col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <app-project-component [project]="project" [countOpenTask]="dictOpenedTask[project.id]" ></app-project-component>
            </li>
        </div>
    <hr>
</div>