#container-for-projects {
    margin: 5px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px -5px 15px;
}

#header input {
    margin-right: 10px;
}

#header img {
    width: 35px;
}

#addNewProjectAction {
    background: none;
    border: none;
    background-color: none;
}

#addNewProjectAction:hover {
    scale: 1.1;
}