.project {
    border: solid 1px black;
    width: fit-content;
    padding: 5px;
    position: relative;
    transition: 0.2s;
    margin-bottom: 15px;
}

.project:hover {
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
}

.update-project {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    background-color: none;
    border:none;
    cursor: pointer;
    background: none;
    transition: 0.25s;
}

.update-project:hover {
    scale: 1.1;
    transition: 0.25s;
}